NEXT_PUBLIC_PRIVY_APP_ID=ask paige
NEXT_PUBLIC_PRIVY_TOKEN=ask paige
NEXT_PUBLIC_PRIVY_SECRET=ask paige
NEXT_PUBLIC_GOERLI_ADDRESS=0xBE3F9AFA4eaB299E07e42067b4a568579047cC5f
NEXT_PUBLIC_CHAIN_ID=5
NEXT_PUBLIC_ALFAJORES_ADDRESS=0xaAA9A9aF232e461C73f8bd37F2ff8eb05249Bbf3
NEXT_PUBLIC_ARBITRUM_ADDRESS=0xaAA9A9aF232e461C73f8bd37F2ff8eb05249Bbf3